<%= form_for(@accomodation) do |f| %>
  <% if @accomodation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accomodation.errors.count, "error") %> no permiten guardar:</h2>

      <ul>
      <% @accomodation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_area :titulo %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <h3> Subir archivo </h3>

<%= form_tag({:controller => "archivos", :action => "subir_archivos"}, :method => "post", :multipart => true) do %>
   <%= file_field_tag "archivo", :required => "required" %>
   <%= submit_tag "Subir archivo y hospedaje" %>
<% end %>
<% if @formato_erroneo %>
  <div>
     <p> El formato ingresado es incorrecto. Usted sólo puede subir archivos .pdf, .doc y .docx </p>
  </div>
<% end %>
<p> <%= link_to "Volver a la lista de archivos", :controller => "archivos", :action => "listar_archivos" %> </p>

<% end %>
