<h1>Hospedajes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accomodations.each do |accomodation| %>
      <tr>
        <td><%= accomodation.titulo %></td>
        <td><%= accomodation.descripcion %></td>
        <td><%= accomodation.imagen %></td>
        <%if user_signed_in?%>
        <td><%= link_to 'Mostrar', accomodation %></td>
        <%end%>
     <% if (user_signed_in?)&&(accomodation.user==current_user or current_user.email=="admin@admin.com")%>
        <td><%= link_to 'Editar', edit_accomodation_path(accomodation) %></td>
        <td><%= link_to 'Eliminar', accomodation, method: :delete, data: { confirm: 'Seguro quiere eliminar?' } %></td>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
