<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @accomodation.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @accomodation.descripcion %>
</p>

<p>
  <strong>Tipo de hospedaje:</strong>
  <% if @accomodation.accommodation_type_id.nil? %>
    <%= @accomodation.accommodation_type_id %>
  <%else%>
    <%= @accomodation.accommodation_type %>
  <%end%>
</p>

<p>
  <strong>Imagen:</strong><br>
  <% if @accomodation.imagen.nil? or  @accomodation.imagen.blank? %>
    <%= @accomodation.imagen %>
  <%else%>
    <%= image_tag(@accomodation.imagen) %>
  <%end%>
</p>
<p>
  <strong>Proprietario:</strong>
  <%= @accomodation.user.nombre_completo %>
</p>

<%if (user_signed_in?) && (@accomodation.user == current_user or current_user.email == "admin@admin.com" )%>
  <%= link_to 'Editar', edit_accomodation_path(@accomodation), class: "btn btn-primary" %>
<% end %>
<%= link_to 'Atras', accomodations_path, class: "btn btn-default" %>
