<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @accomodation.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @accomodation.descripcion %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @accomodation.imagen %>
</p>
<p>
  <strong>Email del proprietario:</strong>
  <%= @accomodation.user.email %>
</p>

<%= link_to 'Editar', edit_accomodation_path(@accomodation) %> |
<%= link_to 'Atras', accomodations_path %>
