<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohiben que se guarde esta pregunta:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div  class="form-group">
    <% if (@question.q.nil?) or (@question.q.blank?) %>
      <%= f.text_area :q, class: "form-control" %>
    <% else %>
      Pregunta: <%= f.label @question.q %>
    <% end %>
  </div>
  <% if !(@question.q.nil?) and !(@question.q.blank?) %>
    <div class="form-group">
      <%= f.label "Respuesta" %><br>
      <%= f.text_area :a, class: "form-control" %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Preguntar", class: "btn btn-success" %>
    <%= link_to 'Atrás', @question.accomodation, class: "btn btn-primary" %>
  </div>
<% end %>
