<h1>Preguntas</h1>

<table class="table table" data-link="row">
  <thead>
    <tr>
      <th>Hospedaje</th>
      <th>Usuario</th>
      <th>Pregunta</th>
      <th>Respuesta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td onclick="location.href='<%= question_path(question) %>'"><%= question.accomodation.titulo %></td>
        <td onclick="location.href='<%= question_path(question) %>'"><%= question.user.nombre_completo %></td>
        <td onclick="location.href='<%= question_path(question) %>'"><%= question.q %></td>
        <td onclick="location.href='<%= question_path(question) %>'"><%= question.a %></td>
        <td><%= link_to 'Mostrar', question, class: "btn btn-default" %></td>
        <td><%= link_to 'Editar', edit_question_path(question), class: "btn btn-primary" %></td>
        <td><%= link_to 'Eliminar', question, class: "btn btn-danger", method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva pregunta', new_question_path, class: "btn btn-success" %>
