<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_hospedaje.descripcion %>
</p>
<p>
  <strong>Estado:</strong>
  <%= @tipo_hospedaje.estado%>
</p>


<%= link_to 'Edit', edit_tipo_hospedaje_path(@tipo_hospedaje) %> |

<%= link_to 'Back', tipo_hospedajes_path %>
