<h1>Lista de tipos de hospedajes</h1>
<div id="resultados">
  

</div>
<%= form_tag "/search/create", method: :get, remote: true, id: "search-form" do %>
    <%= text_field_tag :keyword, nil, placeholder: "¿Qué estás buscando?" %>
    <%= content_tag :button, type: :submit do %>
        Couch
    <% end %> 
<% end %>
<table class="table table">
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @accommodation_types.each do |accommodation_type| %>
      <tr>
        <td><%= accommodation_type.descripcion %></td>
        <td>
          <% if (accommodation_type.activo?)%>
            <%= "Activo" %>
          <% else%>
            <%= "Inactivo" %>
            <%end%>
        </td>
        <td>
          <% if (accommodation_type.activo?)%>
            <%= link_to 'Desactivar',desactivar_accommodation_type_path(accommodation_type), class: "btn btn-warning"%>
          <% else%>
            <%= link_to 'Activar',activar_accommodation_type_path(accommodation_type), class: "btn btn-success"%>
            <%end%>
        </td>
        <td><%= link_to 'Editar', edit_accommodation_type_path(accommodation_type), class: "btn btn-primary" %></td>
        <td><%= link_to 'Eliminar', accommodation_type, class: "btn btn-danger", method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Tipo hospedaje', new_accommodation_type_path, class: "btn btn-primary" %>
<%= link_to 'Volver a inicio', accomodations_path, class: "btn btn-default"%>
