<h1>Lista de tipos de hospedajes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accommodation_types.each do |accommodation_type| %>
      <tr>
        <td><%= accommodation_type.descripcion %></td>
        <td><%= accommodation_type.activo %></td>       
        <td>
          <% if (accommodation_type.activo?)%>
            <%= link_to 'Desactivar',desactivar_accommodation_type_path(accommodation_type)%>
            <% else%>
            <%= link_to 'Activar',activar_accommodation_type_path(accommodation_type)%>
            <%end%>
        </td>
        <td><%= link_to 'Editar', edit_accommodation_type_path(accommodation_type) %></td>
        <td><%= link_to 'Eliminar', accommodation_type, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Tipo hospedaje', new_accommodation_type_path %></br>
<%= link_to 'Volver a inicio', welcome_index_path%>
