<p id="notice"><%= notice %></p>

<p>
  <strong>Descripción:</strong>
  <%= @accommodation_type.descripcion %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @accommodation_type.activo %>
</p>

<%= link_to 'Editar', edit_accommodation_type_path(@accommodation_type), class: "btn btn-primary" %> |
<%= link_to 'Atras', accommodation_types_path, class: "btn btn-default" %>
