<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohiben que esta solicitud se guarde:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :accomodation_id %>
    <%= f.text_field :from, hide_label: true, placeholder: "Desde", class: 'datepicker' %>
    <script type="text/javascript">
      $(document).ready(function()
      {
        $('.datepicker').datepicker({
          format: 'dd/mm/yyyy',
          todayHighlight:'TRUE',
          autoclose: true,
        });
      });
    </script>
  </div>
  <div class="field">
    <%= f.text_field :to, hide_label: true, placeholder: "Hasta", class: 'datepicker' %>
    <script type="text/javascript">
      $(document).ready(function()
      {
        $('.datepicker').datepicker({
          format: 'dd/mm/yyyy',
          todayHighlight:'TRUE',
          autoclose: true,
        });
      });
    </script>
  </div>
  <div class="field">
    <%= f.label "Estado: #{@request.status}" %><br>
  </div>
  <div class="actions">
    <%= f.submit 'Solicitar', class: "btn btn-success" %>
    <%= link_to 'Atrás', @request.accomodation, class: "btn btn-primary" %>
  </div>
<% end %>
