<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohiben que esta solicitud se guarde:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :accomodation_id %>
    <%= f.label :from %><br>
    <%= f.date_select :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br>
    <%= f.date_select :to %>
  </div>
  <div class="field">
    <%= f.label "Estado: #{@request.status}" %><br>
  </div>
  <div class="actions">
    <%= f.submit 'Solicitar', class: "btn btn-success" %>
    <%= link_to 'Atrás', @request.accomodation, class: "btn btn-primary" %>
  </div>
<% end %>
