<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @request.user_id %>
</p>

<p>
  <strong>Accomodation:</strong>
  <%= @request.accomodation_id %>
</p>

<p>
  <strong>From:</strong>
  <%= @request.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @request.to %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
