<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @request.user.nombre_completo %>
</p>

<p>
  <strong>Hospedaje:</strong>
  <%= @request.accomodation.titulo %>
</p>

<p>
  <strong>Desde:</strong>
  <%= @request.from %>
</p>

<p>
  <strong>Hasta:</strong>
  <%= @request.to %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @request.status %>
</p>

<%= link_to 'Editar', edit_request_path(@request) %> |
<%= link_to 'Atrás', requests_path %>
