<h1>Listando imagenes</h1>

<table class="table table">
  <thead>
    <tr>
      <th>Imágen</th>
      <th>Descripción</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td onclick="location.href='<%= image_path(image) %>'"><%= !(image.url.blank?) ? image_tag(image.url, height:"100", alt:"Imagen") : "" %></td>
        <td onclick="location.href='<%= image_path(image) %>'"><%= !(image.descripcion.nil?) and !(image.descripcion.blank?) ? image.descripcion : "" %></td>
        <td>
          <%= link_to 'Mostrar', image, class: "btn btn-default" %>
        </td>
        <td>
          <%= link_to 'Editar', edit_image_path(image), class: "btn btn-primary" %>
        </td>
        <td>
          <%= link_to 'Eliminar', image, class: "btn btn-danger", method: :delete, data: { confirm: 'Está seguro?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva imagen', new_image_path, class: "btn btn-success" %>
<%= link_to 'Volver a inicio', accomodations_path, class: "btn btn-default"%>