<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @image.url %>
</p>
<p>
  <strong>Descripción:</strong>
  <%= @image.descripcion %>
</p>
<p>
  <%= image_tag(@image.url) %>
</p>

<%= link_to 'Editar', edit_image_path(@image), class: "btn btn-primary" %>
<%= link_to 'Atrás', images_path, class: "btn btn-default" %>
