<!DOCTYPE html>
<html>
<head>
  <title>Couchinn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--
  <p class="notice"><%= notice %></p>
  -->
  <table class="table table">
  <%if (user_signed_in?)%>
    <%if (current_user.email=="admin@admin.com")%>
      <td><%= link_to "Tipos de Couch", accommodation_types_path, class:"btn-xs btn-success" %></td>
      <td><%= link_to "Imagenes", images_path, class:"btn-xs btn-success" %></td>
    <%end%>
  <%end%>
  <%if user_signed_in? %>
    <td><%= link_to 'Mis Couch', my_accomodations_path, class: "btn-xs btn-success" %></td>
    <td><%= link_to 'Solicitudes de Couch', my_requests_path, class: "btn-xs btn-success" %></td>
    <td><%= link_to 'Nuevo Couch', new_accomodation_path, class:"btn-xs btn-success" %></td>
  <%end%>
  <td>  <% if user_signed_in? %>
     Logueado como <strong><%= current_user.nombre_completo %></strong>.
    <%= link_to 'Modificar perfil', edit_user_registration_path, :class => 'navbar-link btn-xs btn-success' %>
    <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete, :class => 'navbar-link btn-xs btn-success'  %>
    <%= link_to 'Ser premium', premium_path, :class => 'navbar-link btn-xs btn-success' %>
  <% else %>
    <%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link btn-xs btn-success'  %>
    <%= link_to "Iniciar sesion", new_user_session_path, :class => 'navbar-link btn-xs btn-success'  %>
  </td>
  <% end %>



  </table>
<nav class="minavbar">
  <div class="container-fluid minavbar">
    <div class="navbar-header" >
      <a class="navbar-brand" href="#" >
        <%= link_to image_tag("couchinn.png", :alt => "Counchinn"), accomodations_path %>
      </a>
    </div>
  </div>
</nav>

<%= yield %>
</body>
</html>
