<!DOCTYPE html>
<html>
<head>
  <title>Couchinn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <table class="table table-hover">
  <td><%= link_to "Tipos de hospedajes",accommodation_types_path%></td>
  <td><%= link_to 'Nuevo Hospedaje', new_accomodation_path %></td>
  </table>
<nav class="minavbar">
  <div class="container-fluid minavbar">
    <div class="navbar-header ">
      <a class="navbar-brand" href="#">
      	<%= image_tag("couchinn.png", :alt => "Counchinn") %>
      </a>
    </div>
  </div>
</nav>

<%= yield %>
</body>
</html>
